In [9]:
import pandas as pd
import pycountry_convert as pc

df = pd.read_csv("data/owid-energy-data(cleaned).csv")
world_df = pd.read_csv("data/world-energy-consumption-sum-(1965-2019).csv")

In [10]:
newdf = pd.DataFrame()
newdf
energy_type_lst = [
    "biofuel", "coal", "fossil_fuel", "gas", "hydro", 
    "low_carbon", "nuclear", "oil", "other_renewable", 
    "renewables", "solar", "wind"
]
newdf["energy"] = energy_type_lst

newdf

             energy
0           biofuel
1              coal
2       fossil_fuel
3               gas
4             hydro
5        low_carbon
6           nuclear
7               oil
8   other_renewable
9        renewables
10            solar
11             wind

In [11]:

df

,iso_code,country,year,biofuel_consumption,coal_consumption,fossil_fuel_consumption,gas_consumption,hydro_consumption,low_carbon_consumption,nuclear_consumption,oil_consumption,other_renewable_consumption,renewables_consumption,solar_consumption,wind_consumption,primary_energy_consumption,energy_per_gdp,energy_per_capita
0,AFG,Afghanistan,1900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,1903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17427,ZWE,Zimbabwe,2015,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.642,2.223,4027.628
17428,ZWE,Zimbabwe,2016,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.500,1.889,3385.574
17429,ZWE,Zimbabwe,2017,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17430,ZWE,Zimbabwe,2018,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17431,ZWE,Zimbabwe,2019,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
row = df.loc[[2]]
# is_null_row = row.isnull()
# is_null_row = is_null_row.values.tolist()
# is_null_row


# row = row.values.tolist()
# row[0][1]
# is_null_row[0][3] == True

# pd.isna(row[0])

row = row.values.tolist()[0][3]
# pd.isna(row[0][3])

# df.loc[[1]]
pd.isna(row)
newdf

df["biofuel_consumption"][3446]   # start from 0 and also -1
df.loc[[1]].values.tolist()[0]
# len(df)
len(df.loc[[1]].values.tolist()[0])

18

In [13]:
# insert average consumption across 
# all countries per year as columns into newdf




# these are all consumption sums of each energy type
biofuel_sum = []
coal_sum = []
fossil_fuel_sum = []
gas_sum = []
hydro_sum = []
low_carbon_sum = []
nuclear_sum = []
oil_sum = []
other_renewable_sum = []
renewables_sum = []
solar_sum = []
wind_sum = []

energy_type_dict = {
    0: biofuel_sum,
    1: coal_sum,
    2: fossil_fuel_sum,
    3: gas_sum,
    4: hydro_sum,
    5: low_carbon_sum,
    6: nuclear_sum,
    7: oil_sum,
    8: other_renewable_sum,
    9: renewables_sum,
    10: solar_sum,
    11: wind_sum
}

energy_values_offset = 2
# starts from year 1900
for year in range(len(world_df)):
    curr_row = world_df.iloc[[year]].values.tolist()[0]

    for c_index in range(3, len(curr_row) - 3):
        curr_col_val = curr_row[c_index]
        # if not NaN values
        if not pd.isna(curr_col_val) and c_index >= 3:
            energy_type_sum = energy_type_dict[c_index - 3]
            energy_type_sum += curr_col_val
            energy_type_dict[c_index - 3] = energy_type_sum
        elif pd.isna(curr_col_val):
            continue
        else:
            raise ValueError("error! not True OR FALSE")

TypeError: 'float' object is not iterable

In [14]:
# get the average values for each year
biofuel_df = df.pivot(index='year', columns='country', values=["biofuel_consumption"])
fossilfuel_df = df.pivot(index='year', columns='country', values=["fossil_fuel_consumption"])

len(world_df)
# world_df = world_df.drop('primary_energy_consumption', 1)
world_df
world_df.to_csv("world-energy-consumption-sum(1965-2019).csv", index=False)

melt_df = world_df.melt(id_vars=["iso_code", "country", "year"], var_name="Energy Type", value_name="Energy Consumption (TwH)")
melt_df = melt_df.sort_values(["year", "Energy Type"])
melt_df


melt_df.to_csv("world-energy-consumption-long-format.csv", index=False)